/* FloodFill styles */

.color0 {
    background-color: blue;
}

.color1 {
    background-color: red;
}

.color2 {
    background-color: green;
}

.color3 {
    background-color: cyan;
}

.color4 {
    background-color: magenta;
}


/* Sokoban styles */

.sokoban .field td {
    background-color: cornsilk;
}

.wall {
    background-image: url(images/bricks.png)
}

.player {
    background-image: url(images/unicorn.svg)
}

.box {
    background-image: url(images/package.svg)
}

.target {
    background-image: radial-gradient(#9000ff 0, #9000ff 15%, transparent 17%, transparent 100%)
}

.    {
    background-color: cornsilk;
    background-image: url(images/package.svg);
    filter: brightness(50%);
}

.empty {
    background-color: cornsilk;
}